.list-view-component {
  width: 100%;
  height: auto;
}
.list-view-component li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  border-bottom: 1px solid var(--color-focus);
  width: 100%;
  padding: 0 1rem;
  transition: all 0.65s ease;
}
.list-view-component li input {
  margin-right: 1rem;
}
.list-view-component li:hover {
  box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.1);
}