:root {
    --bulma-primary-h: 267deg;
    --bulma-primary-s: 39%;
    --bulma-primary-l: 46%;

    --bulma-link-h: 229deg;
    --bulma-link-s: 76%;
    --bulma-link-l: 66%;   

    --color-primary: hsl(var(--bulma-primary-h) var(--bulma-primary-s) var(--bulma-primary-l));
    --color-link: hsl(var(--bulma-link-h) var(--bulma-link-s) var(--bulma-link-l));
    --color-focus: hsl(217.5,14.3%,89%);
}   

.is-secundary{
    background: linear-gradient(135deg, var(--color-primary), var(--color-primary));   
}

